{% load static %}
<nav class="bg-green-700 text-white shadow-lg sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 flex items-center justify-between h-20">
    <!-- Logo -->
    <div class="flex items-center gap-3 h-10">
      <a href="/" class="flex items-center gap-3 h-10">
        <img
          src="{% static 'image/Logo.png' %}"
          alt="Logo"
          class="w-10 h-10 object-contain"
        />
        <span class="text-2xl font-extrabold tracking-wide"
          >CAULIFLOWER AI</span
        >
      </a>
    </div>
  </div>
</nav>
